{{ template "header"}}
    <main>
        <table>
            <caption>List Clothing</caption>
            <thead>
                <th>ID</th>
                <th>Nombre Prenda</th>
                <th>Marca</th>
                <th>Costo</th>
                <th>Existencia</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Sueter de navidad</td>
                    <td>Gucci</td>
                    <td>150.50</td>
                    <td>3</td>
                </tr>
            </tbody>
        </table>
    </main>
{{ template "footer"}}